.footer {
    background: #F7F7F7;
    padding: 50px 0;
    text-align: center;
}
.footer .footer-menu {
    margin-top: 30px;
}
.footer .footer-menu li {
    display: inline-block;
    margin: 0 10px;
}
.footer .footer-menu li a {
    color: #333;
    font-size: 12px;
}
.footer .copyright-text {
    margin-top: 20px;
}
.copyright-text a {
    color: #000;
}
.social-media li {
    display: inline-block;
    margin: 0 5px;
}
.social-media li a {
    padding: 8px 10px;
}
.social-media li a i {
    font-size: 20px;
    color: #555;
}